%svg-common {
	background: url("../../img/sprite.svg") no-repeat;
}

.svg-accordion-arrow {
	@extend %svg-common;
	background-position: 87.63888888888889% 0;
}

.svg-accordion-arrow-dims {
	width: 43px;
	height: 43px;
}

.svg-arrow-button {
	@extend %svg-common;
	background-position: 99.87562189054727% 0;
}

.svg-arrow-button-dims {
	width: 22px;
	height: 24px;
}

.svg-arrow-button-yellow {
	@extend %svg-common;
	background-position: 99.87562189054727% 13.48314606741573%;
}

.svg-arrow-button-yellow-dims {
	width: 22px;
	height: 24px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 84.11987415346877% 65.64678543764524%;
}

.svg-arrow-down-dims {
	width: 35.47px;
	height: 21.26px;
}

.svg-back {
	@extend %svg-common;
	background-position: 97.2625968992248% 26.936026936026938%;
}

.svg-back-dims {
	width: 16.6px;
	height: 23.8px;
}

.svg-dropdown-arrow {
	@extend %svg-common;
	background-position: 62.7020202020202% 79.3224043715847%;
}

.svg-dropdown-arrow-dims {
	width: 25px;
	height: 19px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 15.785340314136125% 84.88888888888889%;
}

.svg-facebook-dims {
	width: 32px;
	height: 31px;
}

.svg-invoices {
	@extend %svg-common;
	background-position: 62.37495966440787% 30.35531041559774%;
}

.svg-invoices-dims {
	width: 37.06px;
	height: 46.08px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 32.369791666666664% 84.88888888888889%;
}

.svg-linkedin-dims {
	width: 31px;
	height: 31px;
}

.svg-login {
	@extend %svg-common;
	background-position: 64.39921071762386% 59.734939759036145%;
}

.svg-login-dims {
	width: 30.42px;
	height: 36px;
}

.svg-order {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-order-dims {
	width: 64px;
	height: 44.16px;
}

.svg-order-tracking-0 {
	@extend %svg-common;
	background-position: 19.04015232121857% 63.405588592621015%;
}

.svg-order-tracking-0-dims {
	width: 44.43px;
	height: 45.61px;
}

.svg-order-tracking-1 {
	@extend %svg-common;
	background-position: 37.13804909185865% 25.941503817781808%;
}

.svg-order-tracking-1-dims {
	width: 50.67px;
	height: 47.46px;
}

.svg-order-tracking-2 {
	@extend %svg-common;
	background-position: 37.422523681440765% 0;
}

.svg-order-tracking-2-dims {
	width: 51.98px;
	height: 40.09px;
}

.svg-order-tracking-3 {
	@extend %svg-common;
	background-position: 44.208330984724654% 63.39342795038997%;
}

.svg-order-tracking-3-dims {
	width: 45.59px;
	height: 45.58px;
}

.svg-password {
	@extend %svg-common;
	background-position: 82.32439202588456% 26.30130283197749%;
}

.svg-password-dims {
	width: 31.38px;
	height: 38.51px;
}

.svg-pdf {
	@extend %svg-common;
	background-position: 0 86.78703814420663%;
}

.svg-pdf-dims {
	width: 30.15px;
	height: 34.74px;
}

.svg-play {
	@extend %svg-common;
	background-position: 0 30.040816326530614%;
}

.svg-play-dims {
	width: 55px;
	height: 55px;
}

.svg-profile {
	@extend %svg-common;
	background-position: 63.9960271478232% 0;
}

.svg-profile-dims {
	width: 41.77px;
	height: 47.33px;
}

.svg-proile {
	@extend %svg-common;
	background-position: 83.06128896377422% 49.44195074608758%;
}

.svg-proile-dims {
	width: 33.08px;
	height: 37.14px;
}

.svg-scroll {
	@extend %svg-common;
	background-position: 0 63.56410256410256%;
}

.svg-scroll-dims {
	width: 34px;
	height: 46px;
}

.svg-tick {
	@extend %svg-common;
	background-position: 0 99.91114073086749%;
}

.svg-tick-dims {
	width: 23.56px;
	height: 21.94px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 48.515625% 84.88888888888889%;
}

.svg-twitter-dims {
	width: 31px;
	height: 31px;
}

