$screen-xxs: 310px;
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 990px;
$screen-lg: 1170px;
$screen-xl: 1350px;
$screen-xxl: 1600px;
$screen-xxxl: 1900px;

$menu-collapse-breakpoint: 1100px;

$font-family-main: "Lato", Helvetica, Arial, sans-serif;

$color-primary: #000;
$color-secondary: #fff;
$color-green: #00a859;
$color-yellow: #f4d419;