.l-history {
    @include container;
    @include gutters;
    
    display: flex;
    flex-wrap: wrap;
}

.l-history__title {
    width: 100%;
}

.l-history__content {
    @media(min-width: $screen-lg) {
        width: percentage(11/12);
    }
}

.l-history-content {
    @include container;
    @include gutters;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.l-history-content__video, .l-history-content__text, .l-history-content__images {
    width: 100%;
}

.l-history-content__video {
    @media(min-width: $screen-sm) {
        width: percentage(2.8/12);
    }
}

.l-history-content__text {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media(min-width: $screen-sm) {
        width: percentage(6.2/12);
        padding-left: 2rem;
        padding-right: 6.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.l-history-content__images {
    img {
        display: block;
        width: 100%;
        height: auto;

        &:first-child {
            margin-bottom: .5rem;
        }
    }

    @media(min-width: $screen-sm) {
        width: percentage(2.32/12);
    }
}