.l-plants {
    @include container;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media(min-width: $screen-md) {
        margin-top: 6rem;
    }
}

.l-plants__text, .l-plants__image {
    @include gutters;

    width: 100%;
    position: relative;

    @media(min-width: $screen-md) {
        padding-right: 0;
    }
}

.l-plants__text {
    z-index: 2;

    @media(min-width: $screen-sm) {
        width: percentage(5/12);
    }

    @media(min-width: $screen-md) {
        width: percentage(4/12);
        margin-left: percentage(1/12);
    }
}

.l-plants__image {
    img {
        width: 100%;
        height: auto;
    }

    @media(min-width: $screen-sm) {
        top: -5rem;
        width: percentage(7/12);

        img {
            width: 112%;
            max-width: none;
            margin-left: -12%;
        }
    }
}

[dir='rtl'] {
    .l-plants__text, .l-plants__image {
        @media(min-width: $screen-md) {
            padding-left: 0;
        }
    }

    .l-plants__text {
        @media(min-width: $screen-md) {
            margin-left: initial;
            margin-right: percentage(1/12);
        }
    }

    .l-plants__image {
        @media(min-width: $screen-sm) {
            img {
                width: 112%;
                max-width: none;
                margin-left: initial;
                margin-right: -12%;
            }
        }
    }
}